# Copyright (C) 2021 The Android Open Source Project
#           (C) 2023 The XPerience Project
#
# SPDX-License-Identifier: Apache-2.0

on boot
    # DT2W
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch

    # modem
    chmod 0777 /dev/smd8
    chown radio radio /dev/smd8
    mkdir /data/vendor/modem 0777 radio radio

    setprop persist.bluetooth.a2dp_offload.disabled false

    #modify permission of block_size node
    #chown -h root.oem_2902 /sys/bus/coresight/devices/coresight-tmc-etr/block_size
    chown -h vendor_qdss /sys/bus/coresight/devices/coresight-tmc-etr/block_size
    chmod 660 /sys/bus/coresight/devices/coresight-tmc-etr/block_size

on post-fs
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

on post-fs-data
    #Create folder of camera
    mkdir /data/vendor/camera 0777 camera camera
    mkdir /data/vendor/camera/offlinelog 0777 cameraserver audio
    chmod 0666 /dev/camlog

    #logturbo
    chmod 0666 /dev/mi_exception_log
    chown system system /proc/mi_log/binder_delay
    chown system system /proc/mi_log/delay

    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/mac_addr 0770 system wifi    

    # Create the directory used by qrtr-lookup
    mkdir /data/vendor/qrtr 0775 system system

service qrtr-lookup /vendor/bin/qrtr-lookup
    class core
    user system
    group system
    disabled
    oneshot

on property:sys.boot_completed=1 && property:ro.build.type=user && property:ro.debuggable="1"
   mount debugfs debugfs /sys/kernel/debug
   chmod 0755 /sys/kernel/debug

    # cooling device used to set 4Rx or 2Rx
    chmod 0666 /sys/class/thermal/cooling_device39/cur_state
    chmod 0666 /sys/class/thermal/cooling_device40/cur_state
    chmod 0666 /sys/class/thermal/cooling_device41/cur_state
    chmod 0666 /sys/class/thermal/cooling_device42/cur_state
    chmod 0666 /sys/class/thermal/cooling_device43/cur_state
    chmod 0666 /sys/class/thermal/cooling_device44/cur_state
    chmod 0666 /sys/class/thermal/cooling_device45/cur_state
    chmod 0666 /sys/class/thermal/cooling_device46/cur_state
    chmod 0666 /sys/class/thermal/cooling_device47/cur_state
    chmod 0666 /sys/class/thermal/cooling_device48/cur_state
    chmod 0666 /sys/class/thermal/cooling_device49/cur_state
    chmod 0666 /sys/class/thermal/cooling_device50/cur_state

on charger
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel1-backlight/brightness


